<form id="form-login" action="/login" onsubmit="return checkLogin(this);" method="post" accept-charset="utf-8">

  <table id="table-login">
    <tr>
      <td>
        <table>
          <tr>
            <td class="table-login-elem">USERNAME</td>
            <td class="table-login-elem"><input type="text" name="username" required/></td>
          </tr>
          <tr>
            <td class="table-login-elem">PASSWORD</td>
            <td class="table-login-elem"><input type="password" name="password" required/></td>
          </tr> </table>
      </td>

      <td>
        <button id="button-login" type="submit">LOGIN</button>
      </td>
    <tr>
  </table>
</form>
