<div id="sign-up">

  <div id="circle-title">SIGN UP</div>

  <div id="circle-sign-up">
    <form id="form-sign-up" action="/signup" method="post" onsubmit="return checkSignUp(this);" accept-charset="utf-8">

        <input type="text" name="username" size="35" placeholder="Username" required/><br>

        <input type="password" name="password" size="35" placeholder="Password" required/><br>

        <input type="password" name="confirm_password" size="35" placeholder="Confirm Password" required/><br>

        <input type="text" name="firstname" size="35" placeholder="Firstname" required/><br>

        <input type="text" name="middlename" size="35" placeholder="Middlename" required/><br>

        <input type="text" name="lastname" size="35" placeholder="Lastname" required/><br>

      <button id="button-submit" type="submit">SUBMIT</button>

    </form>
  </div>

</div>
